<button type="button" class="btn btn-dark float-right m-2" (click)="open('Add')">
  <fa-icon [icon]="faPlusSquare"></fa-icon>
</button>

<table class="table table-striped">
  <thead>
    <tr class="text-center">
      <th>Id</th>
      <th>Name</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dep of  DepartmentList" class="text-center">
      <td>{{dep.DepartmentId}}</td>
      <td>{{dep.DepartmentName}}</td>
      <td class="d-flex flex-row justify-content-center">
        <button type="button" class="btn btn-dark mr-1" (click)="open('Edit',dep)"><fa-icon [icon]="faEdit"></fa-icon></button>
        <button type="button" class="btn btn-dark mr-1" (click)="delete(dep.DepartmentId)"><fa-icon [icon]="faTrash"></fa-icon></button>
      </td>
    </tr>
  </tbody>
</table>